Skip to content
 
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 @mhurbuns Sign out
0
0 0 mhurbuns/booking
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Insights  Settings
booking/.gitignore
b329f34  on Aug 1
@mhurbuns mhurbuns init commit
     
42 lines (36 sloc)  422 Bytes
# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
.vs/

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
Press h to open a hovercard with more details.